body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #886363;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background-color: #ebdfdf;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

input {
    padding: 8px;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#message {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
